$btn-height : 20px;
/*body{
    background-color: rgb(102, 66, 22);
}*/
/*#CalcBody{
    width: auto;
    background-image: linear-gradient(#555342,#123456);
}*/
#input{
    background-color: black;
}

.btn {
    padding: $btn-height;
}